/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    max-width: var(--max-width);
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 8%);
    font-family: 'Inter', sans-serif;
}

/*Root Variables*/
:root {
    --primary-color: hsl(75, 94%, 57%);
    --max-width: 1440px; 
}

.location {
    color: var(--primary-color);
    font-size: 14px;
}

.container {
    background-color: hsl(0, 0%, 12%);
    padding: 20px;
    margin: auto;
    width: 90%; /* Adjusted width for mobile */
    max-width: 400px; /* Added max-width for mobile */
    border-radius: 8px;
    height: auto; /* Changed height to auto for dynamic content */
    margin-top: 40px;
}

.tag-line {
    margin-left: 20px; /* Adjusted margin-left for mobile */
}

img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 0 auto; /* Centered image for mobile */
    display: block; /* Ensures block-level display */
}

.socials {
    background-color: hsl(0, 0%, 20%);
    margin-bottom: 10px;
    margin-top: 20px; /* Adjusted margin-top for mobile */
    text-align: center;
    border-radius: 6px;
    padding: 12px;
    width: 90%; /* Adjusted width for mobile */
    max-width: 320px; /* Added max-width for mobile */
    color: hsl(0, 0%, 90%);
}

.introduction {
    margin-left: 20px;
    width: 90%; /* Adjusted width for mobile */
}

h3, .location {
    text-align: center; /* Centered text for mobile */
}

h3 {
    font-weight: 700;
}

.location {
    font-weight: 600;
}

.tag-line {
    margin-left: 0; /* Reset margin-left for mobile */
    text-align: center; /* Centered text for mobile */
    font-weight: 400;
    color: hsl(0, 0%, 80%);
}

p {
    font-size: 14px;
}

a {
    text-decoration: none;
    color: hsl(0, 0%, 90%);
}

.socials:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
    cursor: pointer;
}

.socials:hover a {
    color: hsl(0, 0%, 8%);
    font-family: 'Inter', sans-serif;
}

/*Mobile*/
@media (max-width: 375px) {
    .tag-line {
        margin-left: 0;
    }
}
